pkgbase = transcriptary
	pkgdesc = Record and transcribe your meetings locally, with speaker separation
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/petebarbosa/Transcriptary
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = git
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libpulse
	depends = libayatana-appindicator
	depends = glib2
	depends = dbus
	depends = glibc
	depends = gcc-libs
	depends = hicolor-icon-theme
	optdepends = xdg-utils: open links and folders from the app
	options = !lto
	options = !debug
	source = transcriptary-0.2.2.tar.gz::https://github.com/petebarbosa/Transcriptary/archive/refs/tags/v0.2.2.tar.gz
	sha256sums = 8f4d5fef57cbe37b1aa6410a81bb204c39521e718a8a42f456f1c1ad30b69eb6

pkgname = transcriptary
